* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  display: flex;
  gap: 10px;
  align-content: stretch;
  background-color: darkgoldenrod;
  padding: 0 1rem;
  margin: 1rem;
  justify-content: space-evenly;
}

.separator {
  background-color: #fff;
  width: 5px;
  height: 75vh;
}